@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?968e3679bc76ee786c078e800301360f") format("truetype"),
url("./flaticon.woff?968e3679bc76ee786c078e800301360f") format("woff"),
url("./flaticon.woff2?968e3679bc76ee786c078e800301360f") format("woff2"),
url("./flaticon.eot?968e3679bc76ee786c078e800301360f#iefix") format("embedded-opentype"),
url("./flaticon.svg?968e3679bc76ee786c078e800301360f#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-exercise:before {
    content: "\f101";
}
.flaticon-jumping-rope:before {
    content: "\f102";
}
.flaticon-exercise-1:before {
    content: "\f103";
}
.flaticon-weightlifting:before {
    content: "\f104";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f105";
}
.flaticon-man-boxing:before {
    content: "\f106";
}
.flaticon-man-lifting-weight:before {
    content: "\f107";
}
.flaticon-working-out-silhouette:before {
    content: "\f108";
}
.flaticon-man-doing-yoga:before {
    content: "\f109";
}
.flaticon-man-doing-yoga-1:before {
    content: "\f10a";
}
